.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.titleProfile {
    width: 100%;
    font-size: 48px;
    margin-top: 0px;
    span {
        color: red;
    }
}

.subtitle {
    width: 100%;
    font-family: "Roboto-regular";
    font-size: 18px;
    margin-bottom: 60px;
}

.keyData {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    width: 258px;
    height: 124px;
    background-color: #FBFBFB;
    margin-bottom: 20px;
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 6px;
        margin-left: 30px;
    }
    .unit {
        display: flex;
        margin-top: -20px;
        margin-left: 20px;
    }
    p {
        font-family: "Roboto-medium";
        margin: 0;
    }
    .subtitleCategorie {
        position: absolute;
        top: 70px;
        left: 110px;
        color: #74798C;
        font-size: 14px;
    }
    .iconCalories {
        background-color: #FF00001A;
    }
    .iconProteines {
        background-color: #4AB8FF1A;
    }
    .iconGlucides {
        background-color: #F9CE231A;
    }
    .iconLipides {
        background-color: #FD51811A;
    }
}

.allChart {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.barChartSection {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 835px;
    height: 350px;
    background-color: #FBFBFB;
    margin-bottom: 20px;
    border-radius: 5px;
    p {
        font-family: "Roboto-medium";
        margin-left: 40px;
        margin-top: -5px;
    }
    ul {
        display: flex;
        position: absolute;
        top: 0px;
        right: 40px;
        li {
            margin-left: 20px;
            font-family: "Roboto-medium";
            font-size: 14px;
            color: #74798C;
            list-style: none;
        }
        .poids::before {
            content: '\2022';
            color: black;
            font-size: 30px;
            display: absolute;
            position: relative;
            max-width: 0;
            max-height: 0;
            left: -10px;
            top: 6px;
        }
        .calories::before {
            content: "\2022";
            color: red;
            font-size: 30px;
            display: absolute;
            position: relative;
            max-width: 0;
            max-height: 0;
            left: -10px;
            top: 6px;
        }

    }
    .barChartContainer {
        margin-left: 20px;
    }
}

.custom-tooltip_barChart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 63px;
    width: 39px;
    background-color: red;
    color: white;
    font-family: "Roboto-medium";
    font-size: 9px;
}

.titleLineChart {
    position: absolute;
    z-index: 1;
}

.lineChartSection {
    display: flex;
    align-items: center;
    background-color: red;
    width: 300px;
    height: 300px;
    border-radius: 6px;
    margin-right: 20px;
    p {
        font-size: 15px;
        font-family: "Roboto-medium";
        color: #FFFFFF;
        opacity: 0.5;
        width: 147px;
        margin-top: -200px;
        margin-left: 30px;
    }
    @media only screen and (max-width: 1200px){
        margin-bottom: 20px;
    }
}

.custom-tooltip_lineChart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 25px;
    background-color: white;
    color: black;
    font-size: 11px;
}

.radarChartSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: #282D30;
    border-radius: 6px;
    margin-right: 20px;
}


.userScore {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBFBFB;
    border-radius: 6px;
    p {
        position: absolute;
        width: 70px;
        color: grey;
    }
    .titleScore {
        position: absolute;
        font-family: "Roboto-medium";
        color: black;
        left: 30px;
        top: 20px;
    }
    span {
        font-size: 30px;
        color: black;
        font-weight: 1000;
    }
}

.allKeyData {
    @media only screen and (max-width: 1650px){
        display: flex;
        flex-wrap: wrap;
    }
    .keyData {
        @media only screen and (max-width: 1650px){
            margin-right: 20px;
        }
    }
}